@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&display=swap');

footer {
    width: 100%;
    display: flex;
    justify-content:center;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, #81440a, #cc6626);
  }

footer h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 100px;
}

.footer-links {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.footer-links a {
  font-size: 20px;
  font-weight: 600;
  font-family:"Anek Gurmukhi", sans-serif;
  color: white;
  text-decoration: none;
  margin-right: 20px; 
}

.footer-links a:hover{
  text-decoration: underline;
}