.bg-div-home {
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("src/assets/bg-image-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

input[type="text"]:focus{
  outline: 2px solid black;
  border: 1px solid transparent;
}

input[type="password"]:focus{
  outline: 2px solid black;
  border: 1px solid transparent;
}

input[type="email"]:focus{
  outline: 2px solid black;
  border: 1px solid transparent;
}

input[type="submit"]:hover{
  cursor: pointer;
}

button{
  cursor: pointer;
}