@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&display=swap");

nav {
  display: flex;
  width: 100%;
  justify-content: left;
  margin-bottom: 10px;
  bottom: 0;
  background: linear-gradient(to left, #eee4cc 0%, #eeddb3 20%, #ffc400 100%);
  height: auto;
}

.nav-link {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: "Anek Gurmukhi", sans-serif;
  color: white;
  font-size: 22px;
  margin-top: 7px;
  margin-left: 10px;
  padding: 0;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline 2px solid;
}

.search-bar-div {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;
  margin-left: 20px;
  margin-right: 20px;
}

.search-bar-input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  height: 20px;
  padding-left: 10px;
}

nav img {
  margin: 0;
  width: 80px;
  height: 80px;
}

nav h3 {
  padding: 16px;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
  font-size: 35px;
  color: white;
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;
}

.right-side-div {
  display: flex;
  margin-left: auto;
}

.right-side-div img {
  width: 35px;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.right-side-div img:hover {
  cursor: pointer;
}

.right-side-div button {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  width: 110px;
  box-shadow: 1px 1px #98480f;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  margin-right: auto;
  margin-top: 10px;
  height: 30px;
  border: 2px solid #98480f;
  border-radius: 10px;
  background-color: #ce8520;
  font-weight: bold;
  outline: none;
}

.right-side-div button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.right-side-div p {
  font-family: "Anek Gurmukhi", sans-serif;
  color: #da620d;
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
  margin-right: 40px;
}

.right-side-div p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dropdown-content {
  border-radius: 10px;
  border: none;
  width: 180px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 60px;
  z-index: 2;
  background: linear-gradient(to bottom, #fcf9f3 0%, #efe8d6 100%);
  box-shadow: 0px 0px 5px 5px lightgray;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.dropdown-content.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(10px);
}

.dropdown-content a {
  font-family: "Anek Gurmukhi", sans-serif;
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 5px;
  font-weight: 600;
  color: #ffb700;
  margin-top: 10px;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown-content div{
    display: flex;
}

.dropdown-content span{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    font-family: "Anek Gurmukhi", sans-serif;
    font-size: 20px;
    color: #da620d;
    font-weight: 600;
}


.dropdown-content hr{
    margin-left: 0px;
    margin-right: 0px;
}

.separation-div {
  border-radius: 3px;
  border: 1px solid black;
  margin: 5px;
  margin-left: 25px;
  height: auto;
  width: 6px;
  background-color: white;
}
