.main-container-div {
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(to bottom, #fcf9f3 0%, #efe8d6 100%);
}

.container-div {
  width: 100%;
  justify-content: left;
  border: 2px solid black;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px rgb(195, 195, 195);
}

.project-card-main-div {
  display: flex;
  flex-wrap: wrap;
}

.project-card-main-div img {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  width: 70px;
  height: 70px;
}

.project-card-main-div h1 {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
  padding-top: 5px;
}

.title-div {
  overflow-x: auto;
  display: flex;
  width: 50%;
}

.info-div-container {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.info-div {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.project-owner-span {
  color: #da620d;
  font-weight: 600;
}

.edit-button {
  margin-right: 30px;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  outline: none;
  font-size: 18px;
  max-width: 100%;
  width: auto;
  border-radius: 10px;
}

.edit-button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.view-button {
  margin-right: 30px;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  outline: none;
  font-size: 18px;
  max-width: 100%;
  width: auto;
  border-radius: 10px;
}

.view-button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.download-button {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  border-radius: 10px;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  outline: none;
  font-size: 18px;
  max-width: 100%;
  width: auto;
  border-radius: 10px;
}

.download-button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.mobile-hr{
  display: none;
}

/** Extended card **/

.project-cardEx-main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  align-items: flex-start;
  transition: 0.5s ease-in-out;
}

.project-cardEx-main-div.extended {
  overflow-y: auto;
  max-height: 600px;
}

.description-div {
  flex-basis: 65%;
  margin-top: 18px;
  margin-left: 10px;
  padding-right: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 3px 3px rgb(195, 195, 195);
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  width: 100%;
  min-height: 300px;
  max-height: 600px;
  overflow-y: scroll;
}

.description-div h3 {
  text-shadow: 2px 2px 1px rgb(89, 89, 89);
  font-family: "Anek Gurmukhi", sans-serif;
  color: #ffcc00;
  font-weight: 600;
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.description-div textarea {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: none;
  resize: none;
  width: calc(100% - 20px);
  font-weight: 400;
  font-size: 15px;
  background-color: rgb(232, 232, 232);
}

.description-div textarea:focus {
  outline: none;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
}

.user-list {
  margin-top: 18px;
  box-shadow: 0px 3px 3px 3px rgb(195, 195, 195);
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
  flex-basis: 30%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  justify-content: center;
  max-height: 300px;
  overflow-y: auto;
  text-align: center;
}

.user-list h3 {
  text-shadow: 2px 2px 1px rgb(89, 89, 89);
  font-family: "Anek Gurmukhi", sans-serif;
  color: #ffcc00;
  font-weight: 600;
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  display: block;
}

.user-list button {
  width: auto;
  height: 30px;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  border-radius: 10px;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  outline: none;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-list button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.user-card {
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
}

.user-card div {
  display: flex;
  width: 100%;
  align-items: center;
}

.user-card div > span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.owner-color-span {
  color: #da620d;
  font-weight: 600;
}

.user-card div > img {
  width: 50px;
  height: 50px;
}

.user-card button {
  width: auto;
  height: auto;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  border-radius: 10px;
  background-color: #ff0000;
  border: 2px solid #ce2020;
  outline: none;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-card button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.buttons-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.save-button {
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  outline: none;
  font-size: 20px;
  width: auto;
}

.save-button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.edit-project-button-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-project-button-div button {
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  outline: none;
  font-size: 18px;
  width: auto;
}

.edit-project-button-div button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.delete-button {
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #ff0000;
  border: 2px solid #ce2020;
  outline: none;
  font-size: 20px;
  width: auto;
}

.delete-button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

@media (max-width: 1024px) and (min-width: 430px) {
  .project-card-main-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .title-div {
    box-sizing: border-box;
    width: auto;
    margin: 0 auto;
  }

  .info-div-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  .info-div {
    box-sizing: border-box;
    width: auto;
    padding-left: 60px;
    width: 100%;
  }

  .project-card-main-div h1 {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    margin-left: 10px;
    padding-top: 5px;
  }

  .project-card-main-div img {
    padding: 0;
    width: 70px;
    height: 70px;
  }

  .buttons-div {
    margin: 0 auto;
  }

  .edit-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .download-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .view-button{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  .description-div {
    flex-basis: 50%;
    padding-right: 0px;
    padding-left: 10px;
    max-height: 500px;
    overflow-x: hidden;
  }

  .user-list {
    flex-basis: 40%;
    max-height: 300px;
  }

  .edit-project-button-div button{
    width: 30%;
  }

  .save-button {
    height: 35px;
    width: 30%;
  }

  .delete-button {
    height: 35px;
    width: 30%;
  }
}

@media (max-width: 429px) {
  .project-card-main-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .title-div {
    box-sizing: border-box;
    width: auto;
    margin: 0 auto;
  }

  .info-div-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  .info-div {
    box-sizing: border-box;
    width: auto;
    padding-left: 0;
    margin: 10px;
    width: 100%;
  }

  .project-card-main-div h1 {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    margin-left: 10px;
    padding-top: 5px;
  }

  .project-card-main-div img {
    padding: 0;
    width: 70px;
    height: 70px;
  }

  .buttons-div {
    margin: 0 auto;
  }

  .edit-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .download-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .view-button{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .description-div {
    margin-left: 20px;
    margin-right: 20px;
    flex-basis: 100%;
    padding-right: 0px;
    padding-left: 10px;
    max-height: 500px;
    overflow-x: hidden;
  }

  .user-list {
    margin-left: 20px;
    margin-right: 20px;
    flex-basis: 100%;
    max-height: 300px;
  }

  .edit-project-button-div button{
    height: auto;
    min-height: 35px;
    width: auto;
    font-size: 20px;
  }

  .save-button {
    min-height: 35px;
    height: auto;
    width: auto;
    font-size: 20px;
  }

  .delete-button {
    min-height: 35px;
    height: auto;
    width: auto;
    font-size: 20px;
  }

  .mobile-hr{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
