@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main-add-div {
  position: absolute;
  width: 100%;
  min-height: 700px;
  margin-top: -10px;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 40px;
  justify-content: center;
  font-size: larger;
  display: flex;
  z-index: 3;
  align-items: flex-start;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: center;
}

.main-add-div.visible {
  opacity: 1;
  transform: scale(1);
}

.main-add-div.hidden {
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
}

.add-form {
  box-shadow: 0px 0px 6px 6px rgb(195, 195, 195);
  padding: 30px;
  width: 100%;
  border: none;
  background: white;
}

.add-form label {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-decoration: underline 2px solid;
}

.add-form input {
  margin-bottom: 20px;
  margin-left: 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 15px;
}

.add-form textarea {
  font-size: 14px;
  resize: none;
  margin-top: 10px;
}

.add-form textarea:focus {
  outline: 2px solid black;
  border: 1px solid transparent;
}

.add-form .project-name-input {
  padding: 7.5px;
}

.select-customer {
  background-color: rgb(245, 245, 245);
  padding: 6px;
  font-size: 15px;
  width: 90%;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.select-user {
  background-color: rgb(245, 245, 245);
  padding: 6px;
  font-size: 15px;
  width: 90%;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.add-user-button {
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  border-radius: 10px;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  outline: none;
  padding: 4px;
  font-size: 18px;
  padding-right: 10px;
  padding-left: 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.add-user-button:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.add-form .bottom-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.add-form .add-project-input {
  width: 480px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  border-radius: 10px;
  color: white;
  margin-bottom: 0;
  font-size: 20px;
}

.add-form .add-project-input:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

.add-form .clear-all-button {
  width: 120px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  background-color: #ff0000;
  border: 2px solid #ce2020;
  border-radius: 10px;
  color: white;
  margin-bottom: 0;
  font-size: 20px;
  margin-left: 20px;
  padding: 5px;
  margin-top: 10px;
}

.add-form .clear-all-button:hover {
  background-color: #ff7300;
  border: 2px solid #d24613;
  transition: 0.2s;
}

.add-form .project-desc-input {
  margin-bottom: 20px;
  margin-left: 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
  height: 200px;
}

.list-div-bar {
  border-radius: 3px;
  border: 1px solid #ffcc00;
  height: auto;
  background-color: white;
  width: 100%;
  margin-bottom: 30px;
}

.users-added-div li > button {
  width: auto;
  height: auto;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-weight: bold;
  border-radius: 10px;
  background-color: #ff0000;
  border: 2px solid #ce2020;
  outline: none;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 20px;
}

.users-added-div li > button:hover {
  background-color: #ff7300;
  border: 2px solid #d24613;
  transition: 0.2s;
}

.add-form p {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-decoration: underline 2px solid;
}

.add-form ul {
  list-style-type: none;
}

.add-form li {
  font-size: 18px;
  font-weight: 600;
  color: #da620d;
  margin-bottom: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
