@import url("https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Fira+Code:wght@300..700&family=Orbitron:wght@400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.bg-div {
  overflow-y: auto;
  width: 100vw;
  min-height: 100vh;
  background-image: url("src/assets/bg_images/bg-image.jpg");
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-div {
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

form {
  width: 350px;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffe6 0%, #eeddb3 100%);
  padding: 0px 20px 20px 20px;
  border: 3px solid #ce7420;
  border-radius: 15px;
  margin-bottom: 40px;
}

input {
  width: 95%;
  border: 1px solid #ce9720;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.submit {
  width: auto;
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  font-weight: bold;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: block;
  margin: 10px auto;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.submit:hover {
  border-color: #e97e19;
  background-color: #ff9d00;
  transition: 0.2s;
}

.register-submit {
  width: auto;
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  font-weight: bold;
  background-color: #ffcc00;
  border: 2px solid #ce9720;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: block;
  margin: 10px auto;
  margin-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

.register-submit:hover {
  border-color: #e97e19;
  background-color: #ff9900;
  transition: 0.2s;
}

label {
  font-family: "Anek Gurmukhi", sans-serif;
}

form p {
  font-family: "Anek Gurmukhi", sans-serif;
  font-size: 20px;
  text-align: center;
}

.register-link {
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  color: #ffc400;
}

.register-link:hover {
  color: #ff9900;
  transition: 0.2s;
}

form h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ffcc00;
}

.icon-img {
  margin-bottom: -6px;
  margin-right: 5px;
  width: 28px;
  height: 28px;
}

.checkbox-container {
  width: auto;
  margin-right: 8px;
  justify-content: left;
  display: flex;
  align-items: center;
}

.checkbox-container input {
  appearance: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #ce9720;
  border-radius: 10px;
  position: relative; 
}

.checkbox-container input:checked::after {
  content: ""; 
  background-color: #ce9720;
  border-radius: 10px; 
  width: 10px; 
  height: 10px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}


.checkbox-container label {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 10px;
}

